header {
    background-color: var(--primary-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 15px;
}

nav a, nav button {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--secondary-color);
}
